body{
    background-color: white;
}

h1 {
    font-weight: 700;
    text-align: center;
}
.header{
    display: flex;
    margin-left: 50px;
    padding-left: 50px;
    justify-content: space-evenly;
    background-color: aqua;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    position: fixed;
}
a{
    text-decoration: none;
}

h3{
    text-decoration: none;
}
img {
    padding-top: 100px;
    width: 333px;
    height: 224px;
}
ul{
    display: flex;
    justify-content: space-between;
}
.images{
padding-left: 100px;    
}
.img{
    margin-left: 50px;
    
}

.location{
  
    display: flex;
    justify-content: space-evenly;
    padding-right: 100px;

}
.locationinfo{
    display: flex;
    justify-content: space-evenly;
    padding-right: 100px;
}
.booking{
    color: white;
    margin-top: -50px;
    padding-left: 180px;
}
.booking:hover{
    color: red;
    padding-left: 180px;
}

p{
    padding-left: 100px;
}